/* Selector de Etiqueta */
body {
    background-color: white;
    color: white;
    text-align: justify;
    font-family: monospace;
}

/* SELECTORES DE CLASES */
.imgTitulo {
    width: 125x;
    height: 87.5px;
    margin: 5px 35px 5px 40px;
    justify-items: center;
    border-radius: 5px;
}

.imgBiografia{
    justify-items: center;
    border-radius: 5px;
}

.imgAlbum{
    width: 35%;
    height: 35%;
    justify-items: center;
    border-radius: 1%;
    margin: 1% 5% 1% 35%;
    border-radius: 5%;
}

.subtitulos{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 100%;
    padding: 0 0 0 0.5%;
    color: white;
}

.subfecha{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 75%;
    padding: 0 0 0 0.5%;
    color: white;
}

.encabezado-articulo {
    text-align: center;
    color: white;
    margin: 1em 2em;
    font-size: 175%;
    text-shadow: 1px 2px 2px black, 0 0 50px #008f39, 0 0 50px #008f39;
}

.inlineli{
    display: inline;
    margin: 10%;
}

.texto {
    text-align: justify;
    font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
    font-size: 15px;
    padding: 0 25px;
    color: white;
}

/* SELECTOR DE ID */
#contenedor {
    width: 100%;
    height: auto;
    background-color: black;
    max-width: 0 auto;
    border-radius: 2.5%;
}

#menu {
    height: 5%;
    background-color: black;
    font-size: 125%;
    margin: 2.5%;
}

#contenido {
    height: auto;
    width: 55%;
    background-color: black;
    display: inline-block;
    text-align: justify;
    padding: 2% 1% 1% 1%;
    background-image: url(/img/albumfeid.jpg);
    background-size: cover;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    display: inline-block;
    vertical-align: top;
    padding: 2% 1% 1% 5%;
}

#pie {
    height: 10%;
    width: auto;
    background-color: rgb(161, 196, 38);
    text-align: center;
    padding: 15px;
}

.menuli {
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 25px;
    color: white;
}

/* SELECTOR DE ETIQUETA */ 

hr{
    width: 100%;
    height: 10%;
    border-color: rgb(161, 196, 38);
    margin:  0.1% auto;
    padding-bottom: 1%;
}

ul {
    text-align: center;
    padding-top: 0.5%;
}

li a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
    text-shadow: 1px 2px 2px white, 0 0 25px #008f39, 0 0 25px #008f39;
}

img:hover{
    box-shadow: 1px 2px 2px #008f39, 0 0 25px #008f39, 0 0 25px #008f39;
}

a{
    text-decoration: none;
    color: rgb(161, 196, 38);
}

ol {
    list-style-type: decimal;
    font-size: 125%;
}

b{
    color: #008f39;
    font-size: 1.1em;
    text-shadow: 1px 2px 2px white, 0 0 10px white, 0 0 10px white;
}