/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}

/* Selector de Etiqueta */
body {
    background-color: #f1ecea;
    color: white;
    text-align: justify;
    font-family: monospace;
}

/* Selector de Clases */
.subtitulos{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px 35px;
    color: white;
}

.subfecha{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 10px 35px;
    color: white;
}

.texto {
    text-align: justify;
    font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
    font-size: 15px;
    padding: 25px 25px;
    color: white;
}

.img {
    width: 100px;
    height: 100px;
    border: 2px solid #3a251c;
    margin: 5px 35px 5px 40px;
    justify-items: justify;
    border-radius: 5px;
}

.encabezado-articulo {
    padding: 15px 35px;
    text-align: center;
    background-color: #3a251c;
    color: white;
    margin: 1em 2em;
    border-radius: 10px;
    font-size: 14px;
}

.encabezado-aside {
    padding: 10px 10px;
    text-align: center;
    background-color: #3a251c;
    color: white;
    margin: 0.5em 0.5em;
    border-radius: 10px;
    
}

.menu-aside {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 20px 20px;
}

.lista-aside {
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.menuli {
    display: block;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin: 25px;
    color: white;
}

/* Selector Id */
#contenedor {
    width: 900px;
    height: auto;
    background-color: #b58c7c;
    max-width: 0 auto;
    border-radius: 10px;
}

#encabezado {
    height: 15%;
    width: auto;
    background-color: #3a251c;
    padding: 35px 315px 35px;
    font-size: 25px;
    text-align: center;
}

#menu {
    height: 5%;
    background-color: #b46424;
    font-size: 20px;
}

#contenido {
    height: auto;
    width: 64%;
    background-color: #362f2f;
    display: inline-table;
    text-align: justify;
    border-radius: 0px;
}

#fueraSeccion {
    height: 75%;
    width: 35%;
    display: inline-flex;
    vertical-align: top;
    border-radius: 5px;
}

#pie {
    height: 10%;
    width: auto;
    background-color: #3a251c;
    text-align: center;
    padding: 15px;
}

/* Selector de Etiqueta */

ul {
    text-align: center;
    padding-top: 15px;
    list-style-type: circle;
}

li {
    display: inline;
    margin: 5px;
    
}

li a:hover{
    text-decoration: none;
    color: #3a251c;
    cursor: pointer;
}

hr{
    width: 75%;
    height: 10%;
    background-color: #b46424;
    border-color: #b58c7c;
    margin: 1px auto;
    border: none;
}

a{
    text-decoration: none;
    color: white;
}